div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
/*alt+j selects all 10px*/
img{
    border: 30px groove orangered;
}
.onedog{
    border: 30px dashed orangered;
}
.twodog{
    border: 30px dotted orangered;
}
.threedog{
    border: 30px double orangered;
}

